# 9장

## 예제

In [1]:
list(range(1,5))

[1, 2, 3, 4]

In [2]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [4]:
list(range(2000,2050,4))

[2000, 2004, 2008, 2012, 2016, 2020, 2024, 2028, 2032, 2036, 2040, 2044, 2048]

In [5]:
list(range(2050,2000,-4))

[2050, 2046, 2042, 2038, 2034, 2030, 2026, 2022, 2018, 2014, 2010, 2006, 2002]

In [6]:
list(range(2000,2050,-4))

[]

In [7]:
list(range(2050,2000,4))

[]

In [8]:
total = 0
for i in range(1,101):
    total += i

print(total)

5050

## 연습문제

In [9]:
celegans_phenotypes = ['Emb','Him','Unc','Lon','Dpy','Sma']

for item in celegans_phenotypes:
    print(item)

Emb
Him
Unc
Lon
Dpy
Sma

In [10]:
half_lives = [87.4, 24110.0,6537.0,14.4,376000.0]

for items in half_lives:
    print(items,end=' ')

87.4 24110.0 6537.0 14.4 376000.0

In [11]:
whales = [5,4,7,3,2,3,2,6,4,2,1,7,1,3]
more_whales = []
for w in whales:
    more_whales.append(w + 1)

print(more_whales)

[6, 5, 8, 4, 3, 4, 3, 7, 5, 3, 2, 8, 2, 4]

In [12]:
country_populations = [1295,23,7,3,47,21]
total = 0

for pop in country_populations:
    total += pop
    
print(total)

1396

In [13]:
rat_1 = [1,2,3,4,5,6,7,8,9,10]
rat_2 = [0.1,2,3,4,5,6,7,8,9,20]
firstDay = True # 첫째날 생쥐 1이 더 무거움


for day in range(10):
    if day == 0 and rat_1[day] > rat_2[day]:
        print('첫째 날 생쥐1이 생쥐2보다 몸무게가 더 많이 나간다.')
    elif day == 0 and rat_1[day] <= rat_2[day]:
        print('첫째 날 생쥐1이 생쥐2보다 몸무게가 더 적게 나간다.')
        firstDay = False
    
    if day == 9 and rat_1[day] > rat_2[day] and firstDay == True :
        print('생쥐1은 생쥐2보다 여전히 무겁다')
    
    if day == 9 and rat_1[day] < rat_2[day] and firstDay == True:
        print('생쥐2가 생쥐1보다 무거워졌다')

첫째 날 생쥐1이 생쥐2보다 몸무게가 더 많이 나간다.
생쥐2가 생쥐1보다 무거워졌다

In [14]:
firstDay = True
for day in range(10):
    if day == 0:
        if rat_1[day] > rat_2[day]:
            print('첫째 날 생쥐1이 생쥐2보다 몸무게가 더 많이 나간다')
        else:
            print('첫째날 생쥐1이 생쥐2보다 몸무게가 더 적게 나간다.')
            firstDay = False
    
    if day == 9:
        if rat_1[day] > rat_2[day] and firstDay == True :
            print('생쥐1은 생쥐2보다 여전히 무겁다')
    
        if rat_1[day] < rat_2[day] and firstDay == True:
            print('생쥐2가 생쥐1보다 무거워졌다')

첫째 날 생쥐1이 생쥐2보다 몸무게가 더 많이 나간다
생쥐2가 생쥐1보다 무거워졌다

In [15]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [20]:
sum = 0
cnt = 0
for i in range(2,22+1):
    sum += i
    cnt += 1

print(sum/cnt)

12.0

In [23]:
for i in range(7):
    print('T'*(i+1))

T
TT
TTT
TTTT
TTTTT
TTTTTT
TTTTTTT

In [26]:
for i in range(6,0-1,-1):
    print(' ' * i + 'T'*(7-i))

      T
     TT
    TTT
   TTTT
  TTTTT
 TTTTTT
TTTTTTT

In [31]:
i = 1
while i <= 7:
    j = 7 - i
    print(' ' * j + 'T' * i)
    i += 1

      T
     TT
    TTT
   TTTT
  TTTTT
 TTTTTT
TTTTTTT

In [36]:
for i in range(1,13+1,2):
    print(' ' * int((13 - i)/2) + 'T' * i + ' ' * int((13 - i)/2))

      T
     TTT
    TTTTT
   TTTTTTT
  TTTTTTTTT
 TTTTTTTTTTT
TTTTTTTTTTTTT

## 종합예제

In [39]:
# def showSungjuk(df):
#     for name, score in df.items():
#         sum = sum(score)
#         avg = round(sum / 3,4)
#         print('{}\t{}\t{}\t{}\t{}\t{}'.format(name,score[0],score[1],score[2],sum,avg))
#     return None

def showSungjuk():
    for user in sungjuk:
        temp = sungjuk[user]
        if len(temp) < 5: # 리스트의 길이로 총점, 평균을 구했는지 확인한다
            total = temp[0] + temp[1] + temp[2]
            avg = total /3
            temp.extend([total,avg]) # 데이터 병합해서 사용

        #print(user, sungjuk[user])
    
   #  newList = sungjuk.items() # --> ('User1', [100, 90, 80, 270, 90]) 형태의 이중 리스트

    newList = sorted(sungjuk.items(), key=lambda u: u[1][3], reverse=True)

    for user in newList:
        print(user[0], '\t', seperateGrade(user[1]))


def seperateGrade(data):
    result = ''
    for _num in range(len(data) - 1): # [70, 85, 99, 254] ==> 합까지만 계산
        result += str(data[_num]) + '\t'

    # 평균 계산 (소수 4째자리)
    return result + ('%.4f' % (data[len(data) - 1]))



sungjuk = {}
sungjuk['USER1'] = [88,70,99]
sungjuk['USER2'] = [78,100,77]
sungjuk['USER3'] = [100,90,80]
sungjuk['USER4'] = [99,80,66]

# 국어, 영어, 수학, 총점, 평균, 석차

# 성적, 출력, 조회, 종료

while True:
    print('## 현재 등록자 수 : {}'.format(len(sungjuk)))
    # 1 ~ 4 입력 허용
    # 입력값을 int()로 casting
    try:
        cmd = int(input('1) 성적 입력\n2) 성적 출력\n3) 성적 조회\n4) 종료\n## 1 ~ 4 에서 선택해 입력하세요 : '))
    except:
        print('** 명령어는 1 ~ 4 사이의 숫자만 입력해 주세요 **')
        continue

    if cmd == 1: # 성적 입력
        '''
        입력조건 1) 이름, 국어, 영어, 수학
        입력조건 2) 각 과목의 점수는 0 ~ 100점 사이
        '''
        while True:
            try:
                newName = input('이름을 입력하세요 : ')
                temp = input('성적을 입력하세요(점수는 ","로 구분해주세요) : ').split(',')
                newScore = list(map(int,temp))
                
                if len(newScore) != 3:
                    raise Exception
            
                else: # OK
                    kor = newScore[0]
                    eng = newScore[1]
                    mat = newScore[2]

                    if kor < 0 or kor > 100:
                        raise Exception
                    if eng < 0 or eng > 100:
                        raise Exception
                    if mat < 0 or eng > 100:
                        raise Exception
                    
            except Exception as ex:
                print('성적을 정확하게 입력해주세요')
                continue

            else:
                sungjuk[newName] = newScore # sungjuk['USER] = [x , y , z]
                print('성적 입력 완료!')
                print()
                break


    elif cmd == 2: # 성적 출력
        print('#' * 50)
        print('이름\t국어\t영어\t수학\t총점\t평균')
        print('#' * 50)
        showSungjuk()
        print()

    elif cmd == 3: # 성적 조회
        try:
            searchUser = input('검색할 사용자명을 입력하세요 : ')
            exsist = list(sungjuk.keys()).index(searchUser)

            if(exsist < 0):
                raise Exception
        
        except Exception as ex:
            print('해당 사용자는 존재하지 않는 사용자입니다')

        else:
            sUser = sungjuk[searchUser]
            print('#' * 50)
            print('이름\t국어\t영어\t수학\t총점\t평균')
            print('#' * 50)
            print(sUser[0], '\t', seperateGrade(sUser[1]))
            print(sungjuk[searchUser])
            print()

    elif cmd == 4: # 종료
        quit()

    else:
        print('exception')

## 현재 등록자 수 : 4
1) 성적 입력
2) 성적 출력
3) 성적 조회
4) 종료
## 1 ~ 4 에서 선택해 입력하세요 : 2

# 11장

## 연습문제

In [42]:
def find_dups(l):
    setl1 = set(l)
    setl2 = []
    for el in setl1:
        if l.count(el) > 1:
            setl2.append(el)
    return setl2

In [43]:
dupList = [1,1,1,3,3,3,2,4,5,6,6,6,7,8,8]

find_dups(dupList)

[1, 3, 6, 8]

In [48]:
def count_values(data:dict)->int:
    values = data.values()
    return len(set(values))

In [49]:
test = {'red':1,'green':1,'blue':2}
count_values(test)

2