In [ ]:
convert_to_celsius(212)

In [91]:
def convert_to_celsius(temp):
    return (temp - 32) * 5 / 9

convert_to_celsius(212)

100.0

In [92]:
# kor, eng, mat 세과목의 총점과 평균을 구하는 함수를 생성
# 총점 함수 : sum
# 평균 함수 : avg

def sum(kor, eng, mat):
    return kor + eng + mat

def avg(kor, eng, mat):
    return round(sum(kor, eng, mat) / 3, 2)


name = input("이름을 입력하세요 : ")
kor = float(input("국어 점수를 입력하세요 : "))
eng = float(input("영어 점수를 입력하세요 : "))
mat = float(input("수학 점수를 입력하세요 : "))

print('Name : ' + name)
#print(name + '의 Sumation : ', sum(kor,eng,mat))
#print(name + '의 Average : ', avg(kor,eng,mat))

print('{}의 Sumation : {}'.format(name, sum(kor,eng,mat)))
print('{}의 Average : {}'.format(name, avg(kor,eng,mat)))

# 1. 사용자 이름 입력
# 2. 평균을 소수점 2자리에서 반올림

이름을 입력하세요 : HaeInn
국어 점수를 입력하세요 : 100
영어 점수를 입력하세요 : 99
수학 점수를 입력하세요 : 77
Name : HaeInn
HaeInn의 Sumation : 276.0
HaeInn의 Average : 92.0

In [95]:
def sum(kor: float, eng: float, mat: float)->float:
    return kor + eng + mat

def avg(kor: float, eng: float, mat: float)->float:
    return round(sum(kor, eng, mat) / 3, 2)

In [96]:
min(2, 3, 4)

2

In [97]:
max(2,-3,4,7,-5)

7

In [99]:
max(2,-3,min(4,7),-5)

4

In [100]:
min(max(3,4),abs(-5))

4

In [101]:
abs(min(4, 6, max(2,8)))

4

In [103]:
round(max(5.572, 3.258), abs(-2))

5.57

In [105]:
def triple(num: float)->float:
    return num*3

In [106]:
def distance(x: float, y: float)-> float:
    return abs(x-y)

In [107]:
def kiloToMile(kilo:float)->float:
    return kilo/1.6

In [108]:
def square(num):
    return num**2

In [109]:
square(3)

9

In [110]:
def avg(score1: float, score2: float, socre3: float)->float:
    return (score1 + score2 + score3) / 3

In [111]:
def top3(score1: float, score2: float, score3: float, score4: float)-> float:
    minScore = min(score1, score2, score3, score4)
    top3Sum = score1 + score2 + score3 + score4 - minScore
    return top3Sum/3

In [112]:
'Albert' + 'Einstein'

'AlbertEinstein'

In [114]:
len('Albert' + ' Einstein')

15

In [115]:
'Albert {}'.format(7)

'Albert 7'

In [116]:
'Albert ' + str(7)

'Albert 7'

In [117]:
'Albert' * 5

'AlbertAlbertAlbertAlbertAlbert'

In [118]:
'-' * 30

'------------------------------'

In [119]:
'that\'s better'

"that's better"

In [122]:
'\\10,000'

'\\10,000'

In [123]:
'Albert\t Einstein'

'Albert\t Einstein'

In [124]:
'Computer' + 'Science'

'ComputerScience'

In [125]:
'Darwin\'s'

"Darwin's"

In [126]:
'H20' * 3

'H20H20H20'

In [127]:
'C02' * 0

''

In [128]:
'A\nB\nC'

'A\nB\nC'

In [129]:
len('')

0

In [133]:
x = 3
y = 12.5
print('The rabbit is {}.'.format(x))
print('The rabbit is {} years old.'.format(x))
print('{} is average.'.format(y))
print('{} * {}'.format(y,x))
print('{} * {} is {}'.format(y,x,x* y))

The rabbit is 3.
The rabbit is 3 years old.
12.5 is average.
12.5 * 3
12.5 * 3 is 37.5

In [134]:
first = 'John'

In [135]:
last = 'Doe'

In [136]:
print(last + ', '+first)

Doe, John

In [137]:
num = float(input())
print(num)

123124
123124.0

In [138]:
def repeat(s: str,n: int)->str:
    if(n>0):
        return s * n
    else:
        return ''

In [139]:
repeat('yes',4)

'yesyesyesyes'

In [140]:
repeat('no',0)

''

In [141]:
repeat('no',-4)

''

In [142]:
repeat('yesnomaybe', 3)

'yesnomaybeyesnomaybeyesnomaybe'

In [143]:
def total_length(s1: str, s2: str)-> int:
    return len(s1) + len(s2)

In [144]:
total_length('yes','no')

5

In [145]:
total_length('yes','')

3

In [146]:
total_length('YES!!!!','Noooooo')

14